# Salary Data Deployment

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
data = pd.read_csv('Salary_Data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [68]:
data.dropna(inplace = True)
features = data.iloc[:,[0]].values
label = data.iloc[:,[1]].values

In [69]:
MaxTestScore = 0
for i in range(1,30):
    X_train, X_test, ytrain, ytest = train_test_split(features,
                                                        label,
                                                        test_size = 0.2,
                                                        random_state = i
                                                        )
    model = LinearRegression()
    model.fit(X_train,ytrain)
    train_score = model.score(X_train,ytrain)
    test_score = model.score(X_test,ytest) 
    if test_score > train_score:        
        if test_score > MaxTestScore:
            MaxTestScore = test_score
            RandSeed = i
print(f"MaxTestScore={MaxTestScore},RandomSeed ={RandSeed}")

MaxTestScore=0.9835849730044817,RandomSeed =26

In [70]:
#Final model
X_train, X_test, ytrain, ytest = train_test_split(features,
                                                  label,
                                                  test_size = 0.2,
                                                  random_state = 26
                                                        )
finalmodel = LinearRegression()
finalmodel.fit(X_train,ytrain)
finalmodel.score(X_test,ytest)

0.9835849730044817

In [71]:
#Deploy model
import pickle
pickle.dump(finalmodel, open('SalaryPredict.pkl','wb'))

In [72]:
mo = pickle.load(open('SalaryPredict.pkl','rb'))

In [73]:
mo.predict(9.0)

array([[111139.63294368]])

In [74]:
finalmodel.predict(9.0)

array([[111139.63294368]])

In [76]:
jupyter --version

NameError: name 'jupyter' is not defined

In [77]:
import IPython
IPython.__version__

'6.5.0'

In [82]:
import sklearn
sklearn.__version__

'0.19.2'

In [84]:
pd.__version__

'0.23.4'